<span class="title-page">
	HC Moudon
    <img clss="logo_team" src="images/equipe1.png" alt="logo HC Moudon"/>
</span>
<div class="inner_contennt">
  <table class="datagrid">
     <thead> 
      <tr>
        <th class="name">Nom</th>
        <th>Buts</th>
        <th>But 7m</th>
        <th>Avert.</th>
        <th>2'</th>
        <th>2ème 2'</th>
        <th>3ème 2'</th>
        <th>Total 2'</th>
        <th>Exp.</th>
        <th>Disqu.</th>
        <th>Matchs</th>
        <th>Buts/match</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Crescenzio Fabio</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
        <td>Fresco Alain</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
         <td>Mohamed Triki</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
         <td>Therisod Romain</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
        <td>Walpen Laurian</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>

    </tbody>
  </table>
</div>