<span class="title-page">Classement du championnat <%= @championship %></span>
<div class="inner_contennt">
	<table class="results">
		 <thead> 
			<tr>
				<td>no</td>
				<td>Equipe</td>
				<td>Pts</td>
				<td>J</td>
				<td>G</td>
				<td>N</td>
				<td>P</td>
				<td>bp</td>
				<td>bc</td>
				<td>+/-</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>0</td>
				<td>Vevey</td>
				<td>0</td>
				<td>10</td>
				<td>0</td>
				<td>0</td>
				<td>10</td>
				<td>2</td>
				<td>67</td>
				<td>-65</td>
			</tr>
		</tbody>
	</table>
</div>